
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#777;
	text-decoration:none;
}

a:hover {
	color:#333;
	text-decoration:none;
}

/* BODY */
body {
	background:#fafafa;
	color:#555;
	font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
	font-size: 1em;
/*	font:0.8em Arial, Helvetica, "bitstream vera sans", sans-serif;*/
}

/* HEADER */
#header {
	border-top:7px solid #505559;
	border-bottom:3px solid #999;
	height:50px;
	margin:0 auto;
	padding:0 75px 12px 75px;
	background: #B0E0E6;
}
#header h1 {
	color:#0C3864;
	font-size:325%;
	letter-spacing:-3px;
	float:left;
	padding-left:5px;
	margin-bottom:-20px;
}
#header h2 {
	color:#777;
	font-size:200%;
	letter-spacing:-2px;
	float:left;
}
#header h3 {
	font-size:100%;
	letter-spacing:-1px;
	float:right;
	padding:10px 180px 0 0;
}
#header form {
    float: right; 
    margin-right: 15px; 
    height: 20px; 
    padding-top: 8px;
}
#header form label {
    display: inline-block; 
    margin: 0 2px;
}
#header form input {
}
#header form #username, 
#header form #pwd {
    display: block;
    width: 150px;
    border: 1px solid #777;
    padding: 2px 0 2px 0;
    margin-bottom: -1px;
}
#header form .auth {
    height: 23px;
    vertical-align: bottom;
    background: #0C3864; 
    color: #fff;
    border: 1px solid #ddd;
    -moz-border-radius: 5px;    
    border-radius: 5px;
}


/*** CONTENT ***/
#content {
	float:top;
	text-align: left;
	margin:0 auto;
	padding:10px 80px 20px 260px;
}
#content h1 {
	border-bottom:1px dashed #999;
	font-size:1.3em;
	padding-right: 10px;
	text-align: right;
	} 
#content h2 {
	font-size:1.2em;
	text-align: left;
}
#content p {
	padding:12px 12px 0;
}

#content form #search {
    height: 20px;
    vertical-align: bottom;
    background: #0C3864; 
    color: #fff;
    border: 1px solid #505559;
    -moz-border-radius: 5px;    
    border-radius: 5px;
}
#content form #search_text {
    height: 20px;
    vertical-align: bottom;
    background: #B0E0E6; 
    border: 1px solid #505559;
    -moz-border-radius: 5px;    
    border-radius: 5px;
}
#content a:hover {
	color:#113689;
}

/* footer */
#footer {
	font-size: 0.8em;
	border-top:1px dashed #999; 
	height:50px;
	margin:0 auto;
	padding-right: 75px;
	padding-top: 1px;
	text-align:right;
}



/* CSS Menu Maker */

/* Some stylesheet reset
ul#cssmenu > ul, #cssmenu > ul ul {
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
}

/* The container */
#cssmenu > ul, #cssmenu > ul ul {
	display: block;
	float: left; /* needed to get main content next to nav */
/*	position: relative; */
	width: 150px;
	padding-left: 75px;
/*	border-right:1px dashed #505559; */
}

	/* The list elements which contain the links */
	#cssmenu > ul li {
		display: block;
		position: relative; 
		margin: 0;
		padding: 0;
		width: 150px;	
	}

		/* General link styling */
		#cssmenu > ul li a {
			/* Layout */
			display: block;
			position: relative;
			margin: 0;
			border-top: 1px dotted #3a3a3a;
			border-bottom: 1px dotted #1b1b1b;
			padding: 11px 20px;
			width: 110px;

			/* Typography */
			font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
			color: #d8d8d8;
			text-decoration: none;
			text-transform: uppercase;
		/*	text-shadow: 0 1px 1px #000; */
			font-size: 13px;
			font-weight: 300;

			/* Background & effects */
			background: #505559; /*#282828*/
		}

		/* Rounded corners for the first link of the menu/submenus */
		#cssmenu > ul li:first-child>a {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-top: 0;
		}

		/* Rounded corners for the last link of the menu/submenus */
		#cssmenu > ul li:last-child>a {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom: 0;
		}


		/* The hover state of the menu/submenu links */
		#cssmenu > ul li>a:hover, #cssmenu > ul li:hover>a {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
			background: #1A33CC;
			background: -webkit-linear-gradient(bottom, #1A33CC, #113689);
			background: -ms-linear-gradient(bottom, #1A33CC, #113689); 
			background: -moz-linear-gradient(bottom, #1A33CC, #113689);
			background: -o-linear-gradient(bottom, #1A33CC, #113689);
			border-color: transparent;
		}

		/* The arrow indicating a submenu */
		#cssmenu > ul .has-sub>a::after {
			content: '';
			position: absolute;
			top: 16px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #d8d8d8; 
		}

		/* The same arrow, but with a darker color, to create the shadow effect */
		#cssmenu > ul .has-sub>a::before {
			content: '';
			position: absolute;
			top: 17px;
			right: 10px;
			width: 0px;
			height: 0px;

			/* Creating the arrow using borders */
			border: 4px solid transparent;
			border-left: 4px solid #000;
		}

		/* Changing the color of the arrow on hover */
		#cssmenu > ul li>a:hover::after, #cssmenu > ul li:hover>a::after {
			border-left: 4px solid #fff;
		}

		#cssmenu > ul li>a:hover::before, #cssmenu > ul li:hover>a::before {
			border-left: 4px solid rgba(0, 0, 0, .3);
		}

	
		/* THE SUBMENUS */
		#cssmenu > ul ul {
			position: absolute;
			left: 150px;
			top: -9999px;
			padding-left: 5px;
			opacity: 0;
			/* The fade effect, created using an opacity transition */
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			-o-transition: opacity .3s ease-in;
			-ms-transition: opacity .3s ease-in;
		}

		/* Showing the submenu when the user is hovering the parent link */
		#cssmenu > ul li:hover>ul {
			top: 0px;
			opacity: 1;
		}



/* navigation
#navigation {
	background:#fafafa;
	border-right:1px solid #999;
	margin:0 auto;
	width:75%;
	height:50px;
	list-style:none;
}
#navigation li {
	border-left:1px solid #999;
	float:left;
	width:16.56%;
	list-style:none;
}
#navigation a {
	color:#555;
	display:block;
	line-height:50px;
	text-align:center;
}
#navigation a:hover {
	background:#e3e3e3;
	color:#0C3864;
}
#navigation .active {
	background:#e3e3e3;
	color:#777;
}
*/